

<h2>Gordon Christie</h2>
<table border=1>
<TR style='font-weight: bold' >
  <TD>Race Name</TD>
  <TD>Race Type</TD> 
  <TD>Race Date</TD> 
  <TD>BIB#</TD> 
  <TD>Results/Time</TD>
  <TD>Photo URL</TD>
</TR> 
<ng-container *ngFor="let race of racedata">
 <ng-container *ngIf="race.runner=='Gordon'"> 
<TR   >
  <TD >{{ race.name }}  </TD>
  <TD>{{ race.racetype }}</TD>
  <TD>{{ race.racedate }}</TD>
  <TD>{{ race.bibnumber }}</TD>


  <ng-container *ngIf="race.resultsurl!=''"> 
  <TD><a href="{{ race.resultsurl }}" Target="GORDON_RESULTS" >{{ race.racetime }}</a>  </TD>
  </ng-container>

  <ng-container *ngIf="race.resultsurl==''"> 
      <TD align="center">{{ race.racetime }} </TD>
  </ng-container>

  <ng-container *ngIf="race.photourl!=''"> 
  <TD><a href="{{ race.photourl }}" Target="GORDON_PHOTOS" >PHOTOS</a>  </TD>
  </ng-container>
  <ng-container *ngIf="race.photourl==''"> 
  <TD></TD>
  </ng-container>

</TR>
</ng-container>
</ng-container>

</table>


<h2>Rosa Christie</h2>
<table border=1>
<TR style='font-weight: bold' >
  <TD>Race Name</TD>
  <TD>Race Type</TD> 
  <TD>Race Date</TD> 
  <TD>BIB#</TD> 
  <TD>Results/Time</TD>
  <TD>Photo URL</TD>
</TR> 
<ng-container *ngFor="let race of racedata">
 <ng-container *ngIf="race.runner=='Rosa'"> 
<TR>
  <TD >{{ race.name }}  </TD>
  <TD>{{ race.racedate }}</TD>
  <TD>{{ race.racetype }}</TD>
  <TD>{{ race.bibnumber }}</TD>
  <TD align="center">{{ race.racetime }} </TD>
  <TD>{{ race.photourl }} </TD>
</TR>
</ng-container>
</ng-container>

</table>

