

<div class="tab">
  <button (click)="ShowTab('Gordon')" class="tablinks" >Gordon</button>
  <button (click)="ShowTab('Rosa')" class="tablinks" >Rosa</button>
  <button (click)="ShowTab('Tanya')" class="tablinks" >Tanya</button>
  <button (click)="ShowTab('Les')" class="tablinks" >Les</button>
</div>

<ng-container *ngFor="let runner of runnerdata">
<DIV id="{{runner.runner}}">
<h1>{{runner.runner}}</h1>
<table border=1>
<TR style='font-weight: bold' >
  <TD>Race Name</TD>  <TD>Race Type</TD>   <TD>Race Date</TD> 
  <TD>BIB#</TD>   <TD>Results/Time</TD>  <TD>Photo URL</TD>
</TR> 

<ng-container *ngFor="let race of racedata">
 <ng-container *ngIf="race.runner==runner.runner && (race.status=='' || race.status=='Show')"> 
<TR >
  <TD >{{ race.name }}  </TD>
  <TD>{{ race.racetype }}</TD>
  <TD>{{ race.racedate }}</TD>
  <TD>{{ race.bibnumber }}</TD>
  
  <TD>
  <ng-container *ngIf="race.resultsurl!=''"> 
  <a href="{{ race.resultsurl }}" Target="RESULTS" >{{ race.racetime }}</a>  
  </ng-container>
  </TD>

<TD>
  <ng-container *ngIf="race.photourl!=''"> 
    <a href="{{ race.photourl }}" Target="PHOTOS" >
    PHOTOS</a>  
  </ng-container>
  </TD>
</TR>
</ng-container>
</ng-container>

</table>

<h3>{{ runner.runner }} -  Upcoming Races</h3>
<table border=1>
<TR style='font-weight: bold' >
  <TD>Race Name</TD>
  <TD>Race Type</TD> 
  <TD>Race Date</TD> 
  <TD>BIB#</TD> 
  <TD>Results/Time</TD>
  <TD>Photo URL</TD>

</TR> 

 <ng-container *ngFor="let race of racedata">
 <ng-container *ngIf="race.runner==runner.runner && ( race.status=='Future')"> 
<TR >
  <TD >{{ race.name }}  </TD>
  <TD>{{ race.racetype }}</TD>
  <TD>{{ race.racedate }}</TD>
  <TD>{{ race.bibnumber }}</TD>
  
  <TD>
  <ng-container *ngIf="race.resultsurl!=''"> 
  <a href="{{ race.resultsurl }}" Target="RESULTS" >{{ race.racetime }}</a>  
  </ng-container>
  </TD>

<TD>
  <ng-container *ngIf="race.photourl!=''"> 
    <a href="{{ race.photourl }}" Target="HOTOS" >
    PHOTOS</a>  
  </ng-container>
  </TD>
</TR>
</ng-container>
</ng-container>

</table>
</DIV>



</ng-container>
